/* 
    Summer Hacks
    SOA Code Room
    Project Template
    Use this template: https://github.com/SOACodeRoom/summerhacks-projectName/generate
    style.css: You will write your css code for your portfolio website here. You can add other css files too but it must be under "css" folder.

*/
.hj
{
  padding-left:130px;
  margin-top:50px;
  border-left: 3px solid black;
}
.tex
{
 background-color: whitesmoke;
 border-radius:20px; 
 width:200px; 
 height:130px; 
 padding:40px; 
 margin-top:40px; 
 text-align: center;
}
.ret{
  background-color: whitesmoke;
  border-radius: 20px;
  width:220px;
  height:100px;
  padding:20px;
  margin-top:40px;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
table {
  width:500px;
  height:320px;
}
th,td
{
  border: 6px solid black;
  text-align: center;
  height:85px;
}
.fol ul li {
  display: inline;
  margin: 1rem 1.5rem;
  letter-spacing: 3px;
  padding: 0.5rem 1rem;
}
.fol ul {
  list-style-type: none;
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
}
.fol ul li:hover {
  background: #a2d5f2;
  cursor: pointer;
}
.fol
{
  margin-left: 40px;
}
.fa {  
  padding: 20px;  
text-align: center;  
  margin: 5px 2px;  
  font-size: 30px;  
  width: 50px;  
}  
.fa-facebook {  
  background: #3B5998;  
  color: white;  
  border-radius: 50px;
  margin-left: 40px;
}  
.fa-twitter {  
  background: #55ACEE;  
  color: white;  
  border-radius: 50px;
  
}  

.fa-instagram {  
  background: #125688;  
  color: white;  
  border-radius: 50px;
  
}  
.fa-youtube {  
  background: #bb0000;  
  color: white;  
  border-radius: 50px;
  
}  
.fa-google {  
  background: #dd4b39;  
  color: white;  
  border-radius: 50px;
  
}  

.fa:hover {  
    opacity: 0.5;  
}  
.im 
{
  width:400px; 
  height:200px;
  margin-left:170px;
  border: 4px solid #a2d5f2;
}
h5
{
  text-align: center;
}
.er
{
  text-align: right;
}