.hj
{
  padding-left:50px;
  margin-top:50px;
  border-left: 3px solid black;
 
}
.ty
{
  margin-top:50px;
  
}
.tex
{
 background-color:whitesmoke;
 border-radius:20px; 
 width:200px; 
 height:130px; 
 padding:40px; 
 margin-top:40px; 
 text-align: center;
}
.ret{
  background-color: whitesmoke;
  border-radius: 20px;
  width:220px;
  height:100px;
  padding:20px;
  margin-top:40px;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.fa {  
  padding: 20px;  
text-align: center;  
  margin: 5px 2px;  
  font-size: 30px;  
  width: 50px;  
}  
.fa-facebook {  
  background: #3B5998;  
  color: white;  
  border-radius: 50px;
  margin-left: 40px;
}  
.fa-twitter {  
  background: #55ACEE;  
  color: white;  
  border-radius: 50px;
  
}  

.fa-instagram {  
  background: #125688;  
  color: white;  
  border-radius: 50px;
  
}  
.fa-youtube {  
  background: #bb0000;  
  color: white;  
  border-radius: 50px;
  
}  
.fa-google {  
  background: #dd4b39;  
  color: white;  
  border-radius: 50px;
  
}  

.fa:hover {  
    opacity: 0.5;  
}  
th,td
{
  border: 6px solid black;
  text-align: center;
  
  height:80px;
}
.fol ul li {
  display: inline;
  margin: 1rem 1.5rem;
  letter-spacing: 3px;
  padding: 0.5rem 1rem;
}
.fol ul {
  list-style-type: none;
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
}
.fol ul li:hover {
  background: #a2d5f2;
  cursor: pointer;
}
.fol
{
  margin-left: 40px;
}
.im 
{
  width:400px; 
  height:200px;
  margin-left:40px;
  border: 4px solid #a2d5f2;
}
h5
{
  text-align: center;
}
.er
{
  text-align: ;
}
table
{
  width:500px;
  height:320px;
}
.slidershow{
  width: 700px;
  height: 400px;
  overflow: hidden;
}
.middle
{
  position: absolute;
  
  left: 50%;
  transform: translate(-50%);
}
.navigation
{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}
.bar 
{
  width: 50px;
  height: 10px;
  border: 2px solid #487e95;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
input[name="r"]{
  position: absolute;
  visibility: hidden;
}
.bar:hover
{
  background: #fed049;
}
.slides{
  width: 500%;
  height: 100%;
  display: flex;
}
.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width:100%;
  height:100%;
}
#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}
#r5:checked ~ .s1{
  margin-left: -80%;
}
#r6:checked ~ .s1{
  margin-left: -100%;
}